<div class="sidebar">
    <div class="logo">
      <%= link_to image_tag(asset_path('mini-logo.png'), :alt => "mini-logo") ,root_path, class: "simple-text logo-mini"  %>
      <%= link_to image_tag(asset_path('full-logo.png'), :alt => "full-logo"),root_path, class: "simple-text logo-normal"  %>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <%= image_tag("faces/avatar.jpg", :alt => "avatar") %>
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#user" class="username">
                    <span>Minh Tú Phạm
                      <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"><i class="fa fa-user"></i></span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"><i class="fa fa-cog"></i></span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"><%= fa_icon('sign-out') %></i></span>
                                <span class="sidebar-normal"> Logout </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active ">
                <%= link_to root_path, class: 'nav-link' do %>
                    <%= material_icon.dashboard %>
                    <p> Dashboard </p>
                <% end %>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="../examples/dashboard.html">
                    <%= material_icon.assignment_turned_in %>
                    <p> Future </p>
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" href="../examples/dashboard.html">
                    <i class="material-icons">cloud</i>
                    <p> My Cloud </p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
