<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<table class="table table-hover">
   <thead>
     <th>Name</th>
     <th>Owners</th>
     <th>Size</th>
     <th></th>
     <th></th>
     <th></th>
   </thead>
   <tbody>
     <% @files.each do |file| %>
        <% if file.mime_type == 'application/vnd.google-apps.folder' %>
          <tr onclick="location.href='<%= request.protocol + request.host + ":" + request.port.to_s %>/file/<%= file.id %>/<%= url_encode(params[:token]) %>'">
        <% else %>
          <tr onclick="window.open('<%= request.protocol + request.host + ":" + request.port.to_s %>/file/<%= file.id %>/<%= url_encode(params[:token]) %>');">
        <% end %>
           <td>
             <%= file.name %>
           </td>
           <td>
             <%= file.owners[0].display_name %>
           </td>
           <td>
             file.size
           </td>
           <td>
             <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
           </td>
         </tr>
     <% end %>
   </tbody>
 </table>
