<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= request.location.city %></li>
  </ol>
</nav>
<table class="table table-hover">
   <thead>
     <th>Name</th>
     <th>Owners</th>
     <th>Size</th>
     <th></th>
     <th></th>
     <th></th>
   </thead>
   <tbody>
     <% @clouds.each do |cloud| %>
     <tr onclick="location.href='file/<%= cloud.cid %>/<%= url_encode(cloud.ctoken) %>'">
         <td>
           <% if cloud.ctype == 'googledrive' %>
             <span class="glyphicon glyphicon-cloud">
           <% end %>
           <%= cloud.cname %>
         </td>
         <td>
           <%= current_user.first_name %> <%= current_user.last_name %>
         </td>
         <td>
           -
         </td>
         <td>
           <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>
